@include V-larege-screen{
    html{
        font-size: $lg-screen-font !important;
    }
}

@include XL-screen{
    html{
        font-size: $XL-Font !important;
    }
}

@include XXL-screen{
    html{
        font-size: $XXL-Font !important;
    }
}
