$font-family:"Poppins", sans-serif;
$Standard-font:62.5%;
$First-color: #3f3f3f;
$second-color: #101010;
$third-color:#f9449b;
$fourth-color:white;
$lg-screen-font:65.65%;
$XL-Font:81.25%;
$XXL-Font:106.25%;
