@import "veriables";
@import "Mixins";
@import "Mediaqueries";
@import "Header";
@import "Nav";
@import "Aboutus";
@import "Servics";
@import "Featured-cars";
@import "Testimonial";
@import "secondlast";
@import "Footer";
html{
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $font-family;
  // font-size: $Standard-font;
}

